// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html { 
  height:100%; 
}

#contents {
  margin: 20px;
}

footer {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 20px;
  text-align: center;
  background-color: #313131;
  // margin: 2px 50px 2px 5px;
}